/*Général*/
body{
    font-family: "roboto";
}
h1{
    font-family: "Riesling";
    font-weight: bold;
    text-decoration: underline;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 50%;
    margin-left: auto;
    color: #282451;
    margin-right: auto;
    font-size: 3rem;
    text-align: center;
    margin-top: 50px;
}
h2{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: "Attraction Personal Use";
    font-size: 2.5rem;
    color: #282451;
    text-decoration: underline;
}
h3{
    font-family: "Attraction Personal Use";
    padding-top: 20px;
    padding-bottom: 20px;
   
}

/*barre de navigation*/
.col-center{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    margin: auto;
}
a{
    text-decoration: none!important;
}
.navbar-expand-lg .navbar-collapse {
    justify-content: flex-end;
}
.nav-item {
margin: auto 10px;
font-family: "domine";

}

.list-unstyled{
    width: 50%;
    margin-left : auto;
    margin-right: auto;
}


/*Page accueil*/

#container{
    margin-top: 50px;
    margin-bottom: 50px;
    flex-wrap: wrap;   
    padding: 10px;
    background-image: url(images/fond_accueil.png);
    
}

.my-4{
border-bottom: 1px solid #282451;

}

.card{
    margin: 20px;
    width: 20rem;
    box-shadow: 3px 3px 1px grey;
    border: thick double goldenrod;
}
option{
    background: burlywood;
}

.card-body{
    display: flex;
    flex-direction: column;
}

.fa-paw{
 color: #282451;
 margin-right: 5px;
}

p.card-text{
    margin-top: 20px;
}
.price{
    background-color: #282451;
    color: #fff;
    padding: 5px;
    border-radius: 10px;   
}

.teddy-price{
    background-color: #282451;
    color: #fff;
    border-radius: 25px;
    padding: 5px
}

.fa-shopping-cart{
    
    font-size: 25px;
    padding: 5px;
    position: relative;
}
.button.text-center{
    background: burlywood;
    border-radius: 20px;
    color: brown;
    font-family: 'roboto';
    padding: 5px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    transition: 0.3s linear;
    cursor: pointer; 
}
a{
    color: brown;
}
.button.text-center:hover{
    background-color: bisque;
    animation: background-color;
}    
img{
    width: 150px;
}

/* mise en forme de la page produit*/

#main-container{
    background-image: url("./images/fond_accueil.png");
}

.button-page.text-center{
    background: burlywood;
    border-radius: 20px;
    color: brown;
    font-family: 'roboto';
    padding: 5px;
    width: 35%;
    margin-left: auto;
    margin-right: auto;
    transition: 0.3s linear;
    cursor: pointer; 
}
a{
    color: brown;
}
.button.text-center:hover{
    background-color: bisque;
    animation: background-color;
    
}
.display-picture{
    width: 80%; 
    margin-bottom: 25px; 
    box-shadow: 2px 3px grey;
    
}
.information{
    background: cornsilk;
    padding: 50px 2px;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;  
    border: double thick brown;
    color: brown;
    margin: 50px auto;
}
.product-title{
    
    text-decoration: none;
    background-color: rgba(165, 42, 42, 0.8);
    color: cornsilk;
    padding: 20px;
    transform: rotate(5deg);
    
}
.price-here{
    
    width: 15%;
    padding: 5px;
    text-align: center;
    margin-top: 20px;
    font-size: 1.25rem;
    font-family: "domine";
    background-color: rgba(165, 42, 42, 0.8);
    color: cornsilk;
    transform: rotate(-5deg) 
    
}
.description{
    margin-top: 25px;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.list{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    padding: 10px;
    font-family: 'domine';
    font-size: 1rem;
    border-radius: 20px;
    align-items: center;
    color: brown;
    width: 50%;
    justify-content: center;
}
.color-list{
    margin-left: 10px;
    
}
option{
    background: cornsilk;
    color: brown;
}
.panier{
    background-color: rgba(165, 42, 42, 0.8);
    color: cornsilk;
    font-family: 'roboto';
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    transition: 0.3s linear;
    cursor: pointer;
    box-shadow: 2px 2px grey;
}
.hide{
    display: none;
}
.panier:hover{
    background-color: bisque;
    animation: background-color;
    color: #282451;
}
.badge{
    border-radius: 50%;
    position: absolute;
    top: -5px;
    right: 7px;
    font-size: 14px;
    background-color: #DE2F88;
    }

/*le panier*/


table{
    width: 75%!important;
    margin: 30px auto;
    border: 1px dotted grey;  
    font-weight: bold;
    
}
.table th, .table td{
    vertical-align: middle!important;
}

.remove{
    background-color: indianred;
    color: ivory;
    cursor: pointer;
    padding: 10px;
}
.head{
    background: url(./images/fond_accueil.png);
    background-size: cover;
}
.table-image{
    border-radius: 50%;
}
small{
    font-style: italic;
    color: red;
}
.fa-minus{
    margin-right: 15px;
    background-color: #343a40;
    color: ivory;
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
}
.fa-plus{
    margin-left: 15px;
    background-color: #343a40;
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
    color: ivory;
}
.total-price{
text-align: center;
font-size: 1.5rem;
background-color: lemonchiffon;
}
.text-default{
    text-align: center;
    text-transform: uppercase;
}

form{
    width: 100%;
    margin: 40px auto;
    
}
.form-control{
    width:  75%!important;
    margin: 20px auto;
}

/*Page de confirmation*/
.alert-heading{
    margin: 20px;
}
.alert-success{
    background: none;
    background-color: blanchedalmond!important;
}

@media (max-width: 850px) { 
    .information{
        
        width: 90%;
    }
    .product-title{
        width: 90%;
    }
    .price-here{
        width: 50%;
    }
    .form-control{
        width: 100%!important;
    }
    form, th, td{
        display: block;
    }
    thead{
        display: none;
    }
    /*th{
        background: #343a40!important;
    }*/
}