

#container{
    margin-top: 50px;
    margin-bottom: 50px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;   
   
}
.my-4{
border-bottom: 1px solid #282451;

}
.navbar-expand-lg .navbar-collapse {
    justify-content: flex-end;
}
.nav-item {
margin: auto 10px;
}
.list-unstyled{
    width: 50%;
    margin-left : auto;
    margin-right: auto;
}
.card{
    margin: 20px;
    width: 18rem;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
   
}

.card-img-top{
    cursor: pointer;
}
p.card-text{
    margin-top: 20px;
}
.price{
    background-color: #282451;
    color: #fff;
    padding: 5px;
    border-radius: 10px;   
}
details{
    cursor: pointer;
}
.btn {
    background-color: #282451;
    opacity: 0.9;
    color: #fff;
    transition: opacity 0.2s ease-in;
    margin-top : 10px;
}

.btn:hover{
    background-color: #282451;
    color: #fff;
    opacity: 1;
}
.teddy-price{
    background-color: #282451;
    color: #fff;
    border-radius: 25px;
    padding: 5px
}

h1, h2{
    text-align: center;
    margin-top: 20px;
}
h2{
    border-bottom: 1px solid grey;
    width: 25%;
    margin-left: auto;
    margin-right: auto;
}
.fa-shopping-cart{
    
    font-size: 25px;
    padding: 5px;
    position: relative;
}
img{
    width: 150px;
}
.col-center{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    margin: auto;
}
form{
    width: 75%;
    margin: 40px auto;
    
}
.form-control{
    width:  75%!important;
    margin: 20px auto;
}
a{
    
    text-decoration: none!important;
}
table{
    width: 75%!important;
    margin: 30px auto;
    border: 1px dotted grey;  
}
.badge{
border-radius: 50%;
float: right;
position: absolute;
top: 0;
font-size: 14px;
}
.select-product{
    position: fixed;
    top:0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.8);   
    transition: 0.2s linear;
    transform: scale(0);
}
.select-product.active{
    transform: scale(1);
}

.cardSelect{
    background: #fff;
    width: 70%;
    position: relative;
    height : 65%;
  
}
.fa-times-circle{
    position:absolute;
    top: 10px;
    right: 10px;
    font-size: 2rem;
    cursor: pointer;
    color: royalblue;    
}

.table th{
    vertical-align: middle!important;
}
