
body{
    font-family: "roboto";
}
#container{
    margin-top: 50px;
    margin-bottom: 50px;
    flex-wrap: wrap;   
    padding: 10px;
    background-color: palegoldenrod;
    
}
h1{
    font-family: "Riesling";
    font-weight: bold;
    text-decoration: underline;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 50%;
    margin-left: auto;
    color: #282451;
    margin-right: auto;
    font-size: 3rem;
    
    
}
h3{
    font-family: "Attraction Personal Use";
    padding-top: 20px;
    padding-bottom: 20px;
   
}
.my-4{
border-bottom: 1px solid #282451;

}
.navbar-expand-lg .navbar-collapse {
    justify-content: flex-end;
}
.nav-item {
margin: auto 10px;
font-family: "domine";
}
.list-unstyled{
    width: 50%;
    margin-left : auto;
    margin-right: auto;
}
.card{
    margin: 20px;
    width: 20rem;
    box-shadow: 3px 3px 1px grey;
    border: thick double goldenrod;
}
option{
    background: burlywood;
}

.card-body{
    display: flex;
    flex-direction: column;
}
.button.text-center{
    background: burlywood;
    border-radius: 20px;
    color: brown;
    font-family: 'roboto';
    padding: 5px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    transition: 0.3s linear;
    cursor: pointer;
    
}
a{
    color: brown;
}
.button.text-center:hover{
    background-color: bisque;
    animation: background-color;
    
}
.fa-paw{
 color: #282451;
 margin-right: 5px;
}

p.card-text{
    margin-top: 20px;
}
.price{
    background-color: #282451;
    color: #fff;
    padding: 5px;
    border-radius: 10px;   
}

.teddy-price{
    background-color: #282451;
    color: #fff;
    border-radius: 25px;
    padding: 5px
}

h1{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 3rem;
}
h2{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: "Attraction Personal Use";
    font-size: 2.5rem;
    color: #282451;
    text-decoration: underline;
}
.fa-shopping-cart{
    
    font-size: 25px;
    padding: 5px;
    position: relative;
}
img{
    width: 150px;
}

/* mise en forme de la page produit*/
.display-picture{
    width: 75%; 
    margin-bottom: 25px;
    border: thick double goldenrod;  
}
.product{

display: flex;
justify-content: center;
background-image: url(./images/ourson.jpg);
padding-top: 20px;
padding-bottom: 20px;

}
.information{
    background:rgba(255, 255, 255, 0.9);
    padding: 50px 20px;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;  
    border: thick double #282451; 
    border-radius: 25px;
    
}
.price-here{
    background: rgba(40, 36, 81, 0.9);
    color: white;
    width: 10%;
    padding: 5px;
    text-align: center;
    margin-top: 20px;
    border-radius: 20px;
    font-size: 1.25rem;
    font-family: "Dancing Script";
    font-style: italic;
}
.description{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.list{
    display: flex;
    margin-bottom: 20px;
    background-color: cornsilk;
    padding: 10px;
    font-family: 'domine';
    font-size: 1rem;
    border-radius: 20px;
    align-items: center;
    color: brown;
    width: 50%;
    justify-content: center;
}
.color-list{
    margin-left: 10px;
}
.fa-palette{
    font-size: 1.5rem;
    color: #282451;
    margin-right: 10px;
    margin-top: 5px;
}
option{
    background: cornsilk;
    color: brown;
}
.panier{
    background: #282451;
    border-radius: 20px;
    color: #fff;
    font-family: 'roboto';
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    transition: 0.3s linear;
    cursor: pointer;
}
.panier:hover{
    background-color: bisque;
    animation: background-color;
    color: #282451;
}

/*fin mise en forme page produit*/
.col-center{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    margin: auto;
}
form{
    width: 75%;
    margin: 40px auto;
    
}
.form-control{
    width:  75%!important;
    margin: 20px auto;
}
a{
    
    text-decoration: none!important;
}
table{
    width: 75%!important;
    margin: 30px auto;
    border: 1px dotted grey;  
}
.badge{
border-radius: 50%;
float: right;
position: absolute;
top: 0;
font-size: 14px;
}


.table th{
    vertical-align: middle!important;
}
